PORT=5000
HOST=localhost

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB=media-sharing-platform

JWT_ISSUER=my-backend
JWT_AUDIENCE=my-frontend
AUTH0_API_KEY=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_BUCKET=

CLIENT_BASE_URL=http://localhost:5173
MEDIA_DOMAIN=https://i.example.com
