NODE_ENV=development # development | test | production

PORT=5000
HOST=localhost

POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mediahub

JWT_ISSUER= # Found in [Auth0] Applications - APIs - *ApiName* - Quickstart - Node.Js - *issuerBaseURL*
JWT_AUDIENCE= # Found in [Auth0] Applications - APIs - *ApiName* - Quickstart - Node.Js - *audience*
AUTH0_API_KEY= # API_TOKEN for Auth0 Post-Login action

CLOUDFLARE_ACCOUNT_ID= # Found in Storage & databases - R2 - Overview - Account Details - Account ID
CLOUDFLARE_ACCESS_KEY_ID= # Created in Storage & databases - R2 - Overview - API Tokens - Manage
CLOUDFLARE_SECRET_ACCESS_KEY= # Same as previous
CLOUDFLARE_BUCKET= # Bucket name
CLOUDFLARE_API_KEY= # API_KEY for Cloudflare Worker (queue)

CLIENT_BASE_URL= # Frontend base URL
MEDIA_BASE_URL= # Base URL of Cloudflare worker that serves files

STRIPE_API_KEY= # Found in Developers (bottom bar) - API Keys - Secret key
STRIPE_WEBHOOK_SECRET= # Found in Developers (bottom bar) - Webhooks - *Name* - Signing secret
STRIPE_PRO_PLAN_PRICE_ID= # Found in Product catalog - *Product* - *Price* - Price ID (price_...)

REDIS_HOST=localhost
REDIS_PORT=6379
