PORT=5000
HOST=localhost

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB=media-sharing-platform

JWT_PRIVATE_KEY_PATH=
JWT_PUBLIC_KEY_PATH=
JWT_ISSUER=my-backend
JWT_AUDIENCE=my-frontend

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_BUCKET=

MEDIA_DOMAIN=https://i.example.com
